@import "../../lib/mixins";

@include device(tablet-landscape){
	
}
@include device(tablet){
	.wrap{width: 96%;}
	.header{
		height: 100px;
		&--name{max-width: 140px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
		&--search{margin-top: 8px;max-width: 100%;}
		&--menu{
			&-active{
				.header{
					&--nav{width: 100vw;left: -21px;box-shadow: 0 10px 10px rgba(0, 0, 0, 0.65);}
				}
			}
		}
	}
	.main{padding-top: 120px;}
	.login{
		padding-top: 60px;
		&:before{width: 100vw;height: 40px;}
		&:after{content: 'Kanino Pet Shop';position: absolute;left: 0;width: 100%;text-align: center;top: 5px;color: #fff;font-size: 22px;font-weight: bold;}
		&--logo{order: 1;}
		&--content{margin-bottom: 30px;}
		&--button{margin-top: 40px;}
		&--info{font-size: 25px;}
		&--input{
			color: #000;
			&:focus{border-bottom-color: #000;box-shadow: 0 0 10px #ccc;}
		}
		&--svg{width: 100px;margin: 40px auto 15px;}
	}
	.list{
		&--input{border-style: none;}
		&--icons{
			background-color: #482722;margin-bottom: 40px;
			.fa{color: #fff;}
		}
		&--table{
			.list--icons{border-bottom: 4px solid #7d6662;}
		}
		&--pagelist, &--pagebox, &--input{width: 100%;max-width: 100%;}
	}
	.breadcrumb{float: none;display: block;margin-bottom: 20px;}
	.button-breadcrumb{margin-left: 0;display: block;text-align: center;}
	.button-breadcrumb-wrap{float: none;}
	[t-pseudo-before]{
		&:before{content: attr(t-pseudo-before);}
	}
}
@include device(mobile-landscape){
	.wrap{width: 90%;}
}
@include device(mobile){
	.wrap{width: 90%;}
}


