@import "../lib/mixins";
body{font-family: 'Raleway', sans-serif;font-size: 16px;color: #482722;background-color: #fff;}
.wrap{max-width: 1000px;}
.main{padding-top: 40px;padding-bottom: 50px;}
.button{
	background-color: #482722;color: #fff;padding: 8px 20px;border-radius: 4px;
	&:hover{background-color: lighten(#482722, 15%);}
	&-breadcrumb{margin-left: 60px;}
}
.breadcrumb{
	font-size: 20px;
	&:before{font-size: 30px;vertical-align: middle;}
}